:root {
    --main-background: #F0DB4F;
    --secondary-background: white;
    --main-color-text: #323330;
    --main-color-border: #cfd6bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}